{% extends "master.html" %}

{% block stl %}
    <style>
    .container {
        width: 100%;
        height: 100vh;
    }

    /* FIRST SECTION*/
    .first-section {
        width: 100%;
        height: 40%;
        align-content: center;
    }

    .map {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        background-color: rgb(145, 145, 145);
    }
    /*-------------------------*/

    /* SECOND SECTION*/
    .second-section {
        width: 100%;
        max-height: 30%;
        overflow-y: auto;
        margin: 0 auto;
    }

    table {
        width: 100%;
    }
    
    tr {
        text-align: center;
    }
    /*-------------------------*/

    /* THIRD SECTION*/
    .third-section {
        width: 100%;
        height: 50%;
    }

    .main-text {
        text-align: center;
    }

    .input-area {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .text-input {
        margin: 0 auto;
    }

    .route-generation-btn {
        background-color: black;
        color: white;
        border: none;
        padding: 7px 30px;
        border-radius: 7px;
        display: block;
        margin: 3% auto;
    }
    /*-------------------------*/
    </style>
{% endblock %}

{% block title %}Food Distribution Planning{% endblock %}

{% block sidebar %}
    {% include "managerSidebar.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <!--SECTION 1-->
        <div class="first-section">
            <div class="map"></div>
        </div>
        <!--END OF SECTION 1-->

        <!--SECTION 2-->
        <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <!-- Header -->
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3" style="text-align: center;">Volunteers</h6>
                  </div>
                </div>
            </div>
        </div>

        <div class="second-section">
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <p class="text-end mb-2">Total Volunteers: {{ totalVolunteers }}</p>

                    <form action="" method="POST">
                        {% csrf_token %}
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Skills</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Intervention Area</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Availability</th>
                            <th class="text-secondary opacity-7">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for volunteer in volunteers %}
                            <tr>
                                <td><p class="text-sm mb-0">{{ volunteer.user.user.username }}</p></td>
                                <td><p class="text-sm mb-0">{{ volunteer.skills }}</p></td>
                                <td>{{ volunteer.intervention_area }}</td>
                                <td>{{ volunteer.availability }}</td>
                                <td class="align-middle">
                                    <input type="radio" name="checkbox" value="{{ volunteer.user.user.id }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--END OF SECTION 2-->

        <!--SECTION 3-->
        <div class="third-section">
            <h1 class="main-text">Plan Route</h1>
            <p class="main-text">Plan the distribution route</p>

                <div class="input-area">
                    <div class="text-input">
                        <p>Starting Point</p>
                        <input type="text" placeholder="Enter Starting Point" name="start-point">
                    </div>
                    <div class="text-input">
                        <p>Ending Point</p>
                        <input type="text" placeholder="Enter Ending Point" name="end-point">
                    </div>
                </div>
                <button type="submit" class="route-generation-btn">Generate Route</button>
            </form>
        </div>
        <!--END OF SECTION 3-->

    </div>

{% endblock %}