{% extends "master.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% include "navbar.html" %}
    
    <!--Sidebar-->
    {% block sidebar %}
        {% if user_profile.user_type == "volunteer" %}
            {% include "volunteerSidebar.html" %}
        {% elif user_profile.user_type == "beneficiary" %}
            {% include "beneficiarySidebar.html" %}
        {% elif user_profile.user_type == "manager" %}
            {% include "managerSidebar.html" %}
        {% elif user_profile.user_type == "donor" %}
            {% include "donorSidebar.html" %}
        {% endif %}
    {% endblock %}
    <!--End of sidebar-->
{% endblock content %}